
[idle_timeout]
timeout: 1800

[homing_override]
axes: z
set_position_z: 0
gcode:
   G90
   _SET_ACC VAL=HOME
   _SET_LOWER_STEPPER_CURRENT
   PROBE_ATTACH
   G28 X Y
   ##   XY Location of the Z Endstop Switch
   ##   Update X0 and Y0 to your values (such as X157, Y305) after going through
   ##   Z Endstop Pin Location Definition step.
   #G0 X210 Y308 F3600 
   G0  X150 Y150 F5000 #test

   G28 Z
   G0 Z10 F2800
   PROBE_DETACH
   _SET_ACC
   _RESET_STEPPER_CURRENT
   G0 X150 Y150 Z60 F3600


#--------------------------------------------------------------------

   
[quad_gantry_level]
##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions

#--------------------------------------------------------------------

##  Gantry Corners for 300mm Build
##  Uncomment for 300mm build
gantry_corners:
    -60,-10
    360,370
##  Probe points
points:
    50,25
    50,225
    250,225
    250,25

#--------------------------------------------------------------------
speed: 300
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
#retry_tolerance: .0050
max_adjust: 10